body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8efef;
}

.container{
    display: inline-block;
            margin: 40px;
            padding: 40px;


}
.left{
    background-color: aquamarine;
    display:inline-block;
    float: left;
    
    width: 300px;
}
#right{
    
    display:inline-block;
    float: right;
}

img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto 20px;
  }
